.n-container {
    margin: 0;
    padding: 0;
    z-index: 100;
    position: fixed;
    background-color: white;
    width: 100%;
    border: solid 1px lightgray;
}

.n-navContainer {
    height: 4em;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.n-leftNav {
    height: 100%;
    width: 7.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: solid 1px lightgray;
}

.n-bar {
    border: solid 1px;
    width: .8em;
}

.n-menu {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 16px;
}

.n-rightNav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.n-searchButton {
}

.n-loginButton {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1em;
}

.n-login {
    border: solid 10px;
    border-radius: 100%;
}

.n-submitButton {
    border: none 1px gray;
    background-color: gray;
    height: 104%;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    color: white;
}

.n-titleContainer {
    display: block;
    position: absolute;
    width: 100%;
    top: 19px;
}

.n-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}


/*
Projects
*/

.p-container {
    padding: 0;
    margin: 0;
}

.p-wrapper {
    display: flex;
    justify-content: center;
}

.p-projectsContainer {
    max-width: 90em;
    width: 100%;
}

.p-projectList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.p-iProjectContainer {
    margin-bottom: 2em;
}

.p-linkStyle {
    color: black;
    text-decoration: none;
}

.p-project {
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px gray;
    width: 20em;
    height: 16em;
    margin: 1em;
    transition: 0.1s ease;
}

.p-project:hover {
    filter: opacity(80%);
    transition: 0.1s ease;
}

.p-pictureContainer {
    padding: 0.5em;
}

.p-picture {
    max-width: 100%;
    height: 15em;
}

.p-titleContainer {
    text-align: center;
    padding: 5px;
}

.p-title {
    font-size: 20px;
    font-weight: bold;
}


.p-avatarContainer {
    display: flex;
    flex-direction: row;
}

.p-avatar {
    width: 2em;
    height: 2em;
    border-radius: 100px;
}

.p-createdByName {
    padding: 5px;
    color: #5d5d5d;
}

.p-stubProject {
    border: none;
    width: 20em;
    height: 16em;
    margin: 1em;
}

.p-failed-loading {
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}

/*
DisplayProject
*/

.d-container {
    padding: 0;
    margin: 0;
}

.d-wrapper {
    display: flex;
    flex-direction: column;
}

.d-projectContainerCentered {
    display: flex;
    justify-content: center;
}

.d-projectContainer {
    width: 50em;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px 0px gray;
    border-radius: 15px;
}


.d-topContainer {
    display: flex;
    justify-content: center;
    border: none;
}

.d-titleContainer {
    padding: 1.5em;
    border: none;
    width: 70%;
}

.d-bottonContainer {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
    border: none;
    width: 70%;
}

.d-button {
    width: 6em;
    height: 3em;
    background-color: lightgray;
    border: solid 0.1px black;
}


.d-projectName {
    font-size: 24px;
    font-weight: bold;
}

.d-picture {
    width: 100%;
    height: 40em;
}

.d-bottomContainer {
    display: flex;
    flex-direction: row;
    padding: 1.5em;
}

.d-leftInfo {
    width: 75%;
}

.d-rightInfo {
    width: 30%;
}

.d-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d-linkStyle {
    border: solid 0.1px;
    text-decoration: none;
    padding: 0.2em;
    width: 100%;
    text-align: center;
    color: black;
}

/*
Create
*/

.c-container {
    padding: 0;
    margin: 0;
    height: 89.5vh;
    display: flex;
    justify-content: center;
}

.c-wrapper {
    border: solid;
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.c-d-table {
    display: table;
    height: 100%;
}

.c-d-verticalMiddle {
    display: table-cell;
    vertical-align: middle;
}

.c-buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}